<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Unicode Tools"
            id="com.fortysevenrooks.uc2ool.eclipse.views">
      </category>
      <view
            name="Uc2ool"
            icon="icons/sample.gif"
            category="com.fortysevenrooks.uc2ool.eclipse.views"
            class="com.fortysevenrooks.uc2ool.eclipse.views.Uc2oolView"
            id="com.fortysevenrooks.uc2ool.eclipse.views.Uc2oolView">
      </view>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
